@font-face {
    font-family: "Sansation Regular";
    src: url("../fonts/Sansation_Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Sansation Bold";
    src: url("../fonts/Sansation_Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background: #fffcfa;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.only_mob {
    display: none;
}

.header {
    background: #fff;
}
.header .container {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Sansation Regular", sans-serif;
}
.header_menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}
.header_menu-right {
    display: flex;
    width: 680px;
    justify-content: space-between;
}
.header_menu-number {
    display: flex;
    align-items: center;
    gap: 22px;
}
.header_menu-item a {
    font-size: 14px;
    line-height: 122%;
    text-transform: uppercase;
    color: #2b2b2b;
}
.header_menu-item a:hover {
    font-family: "Sansation Bold", sans-serif;
}
.header_menu-phone {
    font-size: 14px;
    line-height: 122%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #2b2b2b;
}
.header_menu-phone:hover {
    font-family: "Sansation Bold", sans-serif;
}
.language {
    display: flex;
    align-items: center;
    gap: 3px;
}
.language span {
    font-size: 16px;
    text-transform: uppercase;
    color: #f8bd99;
    font-family: "Sansation Bold", sans-serif;
}
.header_scroll {
    display: none;
}
.header_scroll .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.header_fixed {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    background: white;
    z-index: 9999;
    width: 100%;
}
.header-mob.header_fixed {
    display: none;
}
.header-mob {
    display: none;
}

.banner .container {
    padding: 30px 40px 167px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.banner_right {
    max-width: 690px;
}
.banner_right img{
    width: 100%;
}
.banner_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 52px;
    line-height: 122%;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 14px;
    max-width: 692px;
}
.banner_description {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2b2b2b;
    max-width: 608px;
    margin-bottom: 151px;
}
.banner_action-text {
    font-family: "Sansation Regular", sans-serif;
    font-size: 20px;
    color: #2b2b2b;
    margin-bottom: 24px;
}
.btn {
    position: relative;
    display: block;
    width: fit-content;
    /*transition: all 1s ease;*/
}
.btn_bg {
    border: 0.90px solid #2b2b2b;
    border-radius: 1px;
    width: 247px;
    height: 49px;
    position: absolute;
    z-index: -1;
    left: 5px;
    transition: all 1s ease;
}
.btn:hover .btn_bg {
    background: #2b2b2b;
}
.btn_block {
    display: flex;
    padding-top: 5px;
    width: fit-content;
}
.btn_line {
    width: 1px;
    height: 49px;
    background: #fffcfa;
    border-top: 1px solid transparent;
}
.btn_text {
    box-sizing: border-box;
    display: flex;
    width: 197px;
    height: 49px;
    background: #2b2b2b;
    justify-content: center;
    align-items: center;
    font-family: "Sansation Regular", sans-serif;
    font-size: 15px;
    text-align: center;
    color: #fffcfa;
    border-radius: 1px 0 0 1px;
    border-top: 1px solid #2b2b2b;
}
.btn_svg {
    display: flex;
    box-sizing: border-box;
    width: 49px;
    height: 49px;
    background: #2b2b2b;
    justify-content: center;
    align-items: center;
    border-radius: 0 1px 1px 0;
    border: 1px solid #2b2b2b;
}
.btn:hover .btn_svg {
    border-top: 1px solid #fffcfa;
    border-right: 1px solid #fffcfa;
    border-bottom: 1px solid #fffcfa;
}
.btn:hover .btn_text {
    border-top: 1px solid #fffcfa;
    border-left: 1px solid #fffcfa;
    border-bottom: 1px solid #fffcfa;
}

.weCanResult .container {
    padding: 10px 40px 160px;
    display: flex;
    justify-content: space-between;
}
.weCan_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.weCan_item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
    border-bottom: 1px solid #2b2b2b;
}
.weCan_item:first-child {
    padding-top: 0;
}
.weCan_item-number {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2b2b2b;
}
.weCan_item-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2b2b2b;
}
.results {
    margin-top: 358px;
}
.results_item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}
.results_item:last-child {
    margin-bottom: 0;
}
.results_item-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #2b2b2b;
    max-width: 457px;
}

.clients .container {
    padding: 0 40px 163px;
}
.clients_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.clients_items {
    max-width: 1359px;
}
.clients_items img {
    width: 100%;
}

.tariff .container {
    padding: 0 40px 150px;
}
.tariff_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 52px;
    line-height: 122%;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.tariff_items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 55px;
}
.tariff_item {
    border: 1px solid #2b2b2b;
    border-radius: 1px;
    background: #fff;
    padding: 45px 22px 45px 32px;
    min-height: 535px;
    box-sizing: border-box;
    /*width: 100%;*/
}
.tariff_item-title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 26px;
    color: #2b2b2b;
    margin-bottom: 30px;
}
.tariff_item-title span{
    font-size: 32px;
    text-transform: uppercase;
}
.tariff_item-price-text {
    font-family: "Sansation Regular", sans-serif;
    font-size: 16px;
    color: #2b2b2b;
    margin-bottom: 4px;
}
.tariff_item-price {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 22px;
}
.tariff_item-included-title {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2b2b2b;
    margin-bottom: 10px;
}
.tariff_item-included-items {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: #2b2b2b;
}
.tariff_item-dark {
    background: #2b2b2b;
}
.tariff_item-dark .tariff_item-title, .tariff_item-dark .tariff_item-price-text, .tariff_item-dark .tariff_item-price, .tariff_item-dark .tariff_item-included-title, .tariff_item-dark .tariff_item-included-items {
    color: #fffcfa;
}
.tariff .banner_action {
    display: flex;
    justify-content: center;
}

.services .container {
    padding: 0 40px 170px;
}
.services_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.services_items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 35px;
}
.services_item {
    background: #fff;
    border: 1px solid #2b2b2b;
    border-radius: 1px;
    padding: 16px 20px 10px 15px;
    margin-bottom: 20px;
}
.services_items-left {
    width: 50%;
}
.services_items-right {
    width: 50%;
}
.services_item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.services_item-title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #2b2b2b;
}
.services_item-price {
    font-family: "Sansation Regular", sans-serif;
    font-size: 20px;
    text-align: right;
    color: #2b2b2b;
}
.services_item-text {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    color: #2b2b2b;
}
.services .banner_action {
    display: flex;
    justify-content: center;
}

.target .container {
    padding: 0 40px 150px;
}
.target_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.target_item {
    margin-right: 30px;
}
#services_btn {
    display: none;
}

.instScreen .container {
    padding:  0 40px 150px;
}
.instScreen_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.instScreen_items.desc {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 25px;
    margin-bottom: 75px;
}
.instScreen_item {
    max-width: 318px;
}
.instScreen_item img {
    width: 100%;
}
.instScreen_items-mob {
    display: none;
}
.instScreen .banner_action {
    display: flex;
    justify-content: center;
}

.reels .container {
    padding: 0 40px 150px;
}
.reels_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 40px;
}
.reels_item {
    margin-top: 70px;
}
.reels_item:first-child {
    margin-top: 0;
}
.reels_item-title {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 128%;
    font-variant: small-caps;
    color: #2b2b2b;
    margin-bottom: 28px;
}
.reels_all {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.reels_item.none {
    display: none;
}
#reels_btn, #reels_btn-hide {
    display: flex;
    align-items: center;
    gap: 7px;
    background: none;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
#reels_btn span, #reels_btn-hide span{
    font-family: "Sansation Regular", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #000;
}

#reels_btn-hide.none {
    display: none;
}
#reels_btn.none {
    display: none;
}
#reels_btn:hover span{
    font-family: "Sansation Bold", sans-serif;
}
#reels_btn-hide:hover span{
    font-family: "Sansation Bold", sans-serif;
}
#reels_btn:hover .main{
    display: none;
}
#reels_btn .hover{
    display: none;
}
#reels_btn-hide:hover .main{
    display: none;
}
#reels_btn-hide .hover{
    display: none;
}
#reels_btn:hover .hover{
    display: block;
}
#reels_btn-hide:hover .hover{
    display: block;
}
.reels_all .reels_item-one.none {
    display: none;
}
.reels .none {
    display: none;
}

.video .container {
    padding: 0 40px 150px;
}
.video_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.video_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 55px;
}
#video_btn {
    display: none;
    /*display: flex;*/
    align-items: center;
    gap: 7px;
    background: none;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
#video_btn span{
    font-family: "Sansation Regular", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #000;
}
#video_btn-hide {
    display: none;
    /*display: flex;*/
    align-items: center;
    gap: 7px;
    background: none;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
#video_btn-hide span{
    font-family: "Sansation Regular", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #000;
}
#video_btn-hide {
    display: none;
}
#video_btn-hide.open {
    display: flex;
}

.development .container {
    padding: 0 40px 150px;
}
.development_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.development_items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 40px;
}
.development_item {
    max-width: 249px;
}
.development_item img {
    width: 100%;
}
#development_btn {
    display: flex;
    align-items: center;
    gap: 7px;
    background: none;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
#development_btn-hide {
    /*display: flex;*/
    display: none;
    align-items: center;
    gap: 7px;
    background: none;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
#development_btn-hide.open {
    display: flex;
}
#development_btn.none {
    display: none
}
#development_btn span {
    font-family: "Sansation Regular", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #000;
}
#development_btn-hide span {
    font-family: "Sansation Regular", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #000;
}
.development_item.none {
    display: none;
}
#development_btn-hide.none {
    display: none;
}

#development_btn:hover span{
    font-family: "Sansation Bold", sans-serif;
}
#development_btn-hide:hover span{
    font-family: "Sansation Bold", sans-serif;
}
#development_btn:hover .main{
    display: none;
}
#development_btn .hover{
    display: none;
}
#development_btn-hide:hover .main{
    display: none;
}
#development_btn-hide .hover{
    display: none;
}
#development_btn:hover .hover{
    display: block;
}
#development_btn-hide:hover .hover{
    display: block;
}

.branding .container {
    padding: 0 40px 220px;
}
.branding_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.branding_item img {
    height: 350px;
}
.branding_item {
    margin: 0 8px;
}
.branding .slick-slide{
    width: fit-content !important;
}
.branding .arrow-prev {
    position: absolute;
    left: 10px;
    bottom: -55px;
    cursor: pointer;
}
.branding .arrow-next {
    position: absolute;
    right: 10px;
    bottom: -55px;
    cursor: pointer;
}

.grugany .container {
    padding: 0 40px 170px;
}
.grugany_title {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #2b2b2b;
    margin-bottom: 60px;
}
.grugany_items {
    max-width: 100%;
}
.grugany_items img{
    width: 100%;
}
.grugany_items.mob {
    display: none;
}

.portfolio .container {
    padding: 0 40px 100px;
}
.portfolio_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 52px;
    line-height: 122%;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.portfolio_item-info {
    width: 609px;
}
.portfolio_item {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 100px;
    border-bottom: 1px solid #2b2b2b;
    padding-top: 100px;
}
.portfolio_item:first-child {
    padding-top: 0;
}
.portfolio_item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.portfolio_item-title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 42px;
}

.portfolio-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #2b2b2b;
    margin-bottom: 30px;
    max-width: 609px;
}
.portfolio_item-image div  {
    max-width: 325px;
}
.portfolio_item-image div img {
    width: 100%;
}
.portfolio-text li::marker {
    color: #161414;
    font-size: 8px;
}
.portfolio-text ul {
    margin-top: 20px;
}
.portfolio-text li {
    margin-left: 10px;
}
.portfolio-text span{
    font-weight: 500;
}
.portfolio_item-image {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 670px;
    min-width: 670px;
}
.portfolio_item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio_item.none {
    display: none;
}
.portfolio_item.bottom_none {
    border-bottom: none;
    padding-bottom: 0;
}
#portfolio_btn {
    /*display: flex;*/
    display: none;
    align-items: center;
    gap: 7px;
    background: none;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
#portfolio_btn span{
    font-family: "Sansation Regular", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #000;
}
.portfolio_item-action {
    display: none;
}

.reviews .container {
    padding: 0 40px 170px;
}
.reviews_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.reviews_item {
    position: relative;
    border: 1px solid #2b2b2b;
    border-radius: 1px;
    padding: 30px;
    height: 437px;
    box-sizing: border-box;
    margin: 0 19px;
    background: #fff;
}
.reviews_item_bg {
    border: 1px solid #2b2b2b;
    border-radius: 1px;
    width: 100%;
    height: 437px;
    position: absolute;
    z-index: -1;
    top: -7px;
    right: -7px;
    /*display: none;*/
}
.reviews_items {
    margin: 0 0 125px;

}
.reviews_item-name {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    font-variant: small-caps;
    color: #2b2b2b;
    margin-bottom: 2px;
}
.reviews_item-own {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 130%;
    font-variant: small-caps;
    color: #2b2b2b;
    margin-bottom: 22px;
}
.reviews_item-text {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 125%;
    font-variant: small-caps;
    color: #2b2b2b;
    max-width: 416px;
}
.reviews .arrow-prev {
    position: absolute;
    left: 19px;
    bottom: -55px;
    cursor: pointer;
}
.reviews .arrow-next {
    position: absolute;
    right: 19px;
    bottom: -55px;
    cursor: pointer;
}
.reviews .slick-list {
    padding-top: 7px !important;
}

.aboutUs .container {
    padding: 0 40px 150px;
}
.aboutUs_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 52px;
    line-height: 122%;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 60px;
}
.aboutUs_block {
    display: flex;
    justify-content: space-between;
}
.aboutUs_description {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 128%;
    color: #2b2b2b;
    max-width: 553px;
}
.aboutUs_description span {
    font-weight: 600;
}
.aboutUs_items {
    display: flex;
    flex-wrap: wrap;
    gap: 45px 20px;
    justify-content: end;
}
.aboutUs_item {
    border-top: 1px solid #2b2b2b;
}
.aboutUs_item-number {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 128%;
    color: #2b2b2b;
    margin-top: 6px;
    margin-bottom: 20px;
}
.aboutUs_item-title {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 128%;
    color: #2b2b2b;
    margin-bottom: 10px;
}
.aboutUs_item-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 128%;
    font-variant: small-caps;
    color: #2b2b2b;
    max-width: 325px;
}
.steps .container {
    padding: 0 40px 150px;
}
.steps_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 60px;
}
.steps_items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.steps_item {
    background: #fff;
    border: 1px solid #2b2b2b;
    border-radius: 1px;
    padding: 36px 25px;
}
.steps_item-number {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 128%;
    color: #2b2b2b;
    margin-bottom: 12px;
}
.steps_item-title {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2b2b2b;
    margin-bottom: 6px;
    max-width: 274px;
}
.steps_item-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 128%;
    color: #2b2b2b;
    max-width: 274px;
}

.difference .container {
    padding: 0 40px 150px;
}
.difference_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 80px;
}
.difference_item {
    display: flex;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #2b2b2b;
}
.difference_item:first-child {
    padding-top: 0;
    padding-bottom: 25px;
}
.difference_items-number {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2b2b2b;
}
.difference_items-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2b2b2b;
}

.history .container {
    padding: 0 40px 170px;
}
.history_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 70px;
}
.history_items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}
.history_item {
    max-width: 573px;
}
.history_item-date {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 128%;
    color: #2b2b2b;
    margin-bottom: 20px;
}
.history_item-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 128%;
    color: #2b2b2b;
}

.team .container {
    padding: 0 40px 170px;
    border-bottom: 1px solid #000;;
}
.team_title {
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 40px;
}
.team_items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
}
.team_item-photo {
    max-width: 317px;
    margin-bottom: 20px;
}
.team_item-photo img{
    width: 100%;
}
.team_item-name {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 128%;
    color: #2b2b2b;
    margin-bottom: 5px;
}
.team_item-function {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 128%;
    color: #2b2b2b;
}

.contacts .container {
    padding: 170px 40px;
}
.contacts_title {
    font-family: sans-serif;
    font-size: 52px;
    line-height: 122%;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-bottom: 58px;
}
.contacts_block {
    display: flex;
}
.contacts_info {
    width: 50%;
}
.contacts_info a {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: lowercase;
    color: #2b2b2b;
    text-decoration: none;
}
.contacts_ip {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2b2b2b;
}

.footer {
    background: #2b2b2b;
}

.footer .container {
    padding: 90px 80px 87px 40px;
    display: flex;
    justify-content: space-between;
}
.footer__list li {
    list-style: none;
    margin-bottom: 15px;
}
.footer_social a:first-child {
    margin-right: 15px;
}
.footer__list li:last-child {
    margin-bottom: 0;
}
.footer__link {
    font-family: "Sansation Regular", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fffcfa;
}
.footer-mob {
    display: none;
}
/* 1380px - 1439px */
@media screen and (max-width: 1439px) {
    .banner_right {
        max-width: 675px;
    }
    .steps_items {
        gap: 20px 15px;
    }
    .steps_item {
        padding: 36px 17px;
    }
}
/* 1200px - 1379px */
@media screen and (max-width: 1379px) {
    .banner_right {
        max-width: 495px;
    }
    .tariff .arrow-prev {
        position: absolute;
        left: 10px;
        bottom: -55px;
    }
    .tariff .arrow-next {
        position: absolute;
        right: 10px;
        bottom: -55px;
    }
    .tariff_items {
        margin-bottom: 90px;
    }

    .target .arrow-prev {
        position: absolute;
        left: 10px;
        bottom: -55px;
    }
    .target .arrow-next {
        position: absolute;
        right: 10px;
        bottom: -55px;
    }

    .aboutUs_block {
        flex-wrap: wrap;
        gap: 70px;
    }
    .aboutUs_items {
        justify-content: center;
    }

    .history_item {
        max-width: 535px;
    }
}
/* 1024px - 1199px */
@media screen and (max-width: 1199px) {
    .header-mob .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 35px;
        background: #2b2b2b;
    }
    .weCanResult .container {
        flex-direction: column;
        align-items: start;
    }
    .results {
        margin-top: 110px;
    }

    .instScreen_items.desc {
        display: none;
    }
    .instScreen_items-mob {
        display: block;
        margin: 0 -6px 100px;

    }
    .instScreen_items-mob .instScreen_item{
        margin: 0 6px;
    }
    .instScreen_items-mob .arrow-prev {
        position: absolute;
        left: 10px;
        bottom: -55px;
    }
    .instScreen_items-mob .arrow-next {
        position: absolute;
        right: 10px;
        bottom: -55px;
    }

    .development_items {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .development_items::-webkit-scrollbar {
        width: 0;
    }
    .development_item {
        width: 250px;
        min-width: 250px;
    }
    .development_items.mobile {
        overflow-x: inherit;
        flex-wrap: wrap;
    }

    .portfolio_item {
        flex-direction: column;
    }
    .portfolio_item.reverse {
        flex-direction: column-reverse;
    }

    .steps_items {
        justify-content: center;
    }

    .history_item {
        max-width: 440px;
    }

    .team_item-photo {
        max-width: 300px;
    }
}
/* 901px - 1023px */
@media screen and (max-width: 1023px) {
    .banner_action.only_mob {
        display: block;
    }
    .header_desc {
        display: none;
    }
    .header-mob {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 14px;
        cursor: pointer;
    }
    .menu__icon::before {
        content: '';
        left: 0;
        top: 0;
        position: absolute;
        height: 2px;
        width: 30px;
        transition: all 0.3s ease 0s;
        background-color: #fffcfa;
    }
    .menu__icon::after {
        content: '';
        left: 0;
        bottom: 0;
        position: absolute;
        height: 2px;
        width: 30px;
        transition: all 0.3s ease 0s;
        background-color: #fffcfa;
    }
    .menu__icon span {
        display: block;
        position: absolute;
        top: 42%;
        height: 2px;
        width: 30px;
        transition: all 0.3s ease 0s;
        background-color: #fffcfa;
    }
    .menu__icon._active::before {
        transform: rotate(45deg);
        top: 6px;
    }
    .menu__icon._active::after {
        transform: rotate(-45deg);
        bottom: 6px;
    }
    .menu__icon._active span {
        display: none;
    }
    .header-mob .header_menu-phone{
        font-family: "Sansation Regular", sans-serif;
        font-size: 14px;
        line-height: 122%;
        text-transform: uppercase;
        text-decoration: underline;
        color: #fffcfa;
    }
    .header-mob.header_fixed {
        display: block;
    }
    .menu__body {
        position: fixed;
        top: 69px;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 100px 20px 100px;
        transition: left 0.3s ease 0s;
        overflow: auto;
        box-sizing: border-box;
    }
    body._touch .menu__list > li {
        list-style: none;
        margin-bottom: 15px;
        text-align: center;
    }
    body._touch .menu__link {
        font-family: "Sansation Regular", sans-serif;
        font-size: 30px;
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        color: #fffcfa;
    }
    .menu__body._active {
        left: 0;
        background: #0d0d0d;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .header-mob-info {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .header_scroll {
        display: none;
    }
    .banner .container {
        flex-direction: column;
        align-items: start;
        padding: 110px 35px 110px;
    }
    .banner_action {
        display: none;
    }
    .banner_description {
        margin-bottom: 50px;
    }
    .banner_right {
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .banner_right img {
        max-width: 50%;
    }

    .tariff_items {
        flex-wrap: wrap;
        justify-content: start;
    }
    .tariff_item {
        min-height: 578px;
    }

    .services_items {
        flex-wrap: wrap;
        gap: 0;
    }
    .services_items-left {
        width: 100%;
    }
    .services_items-right {
        width: 100%;
    }

    .reels_all {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .reels_all::-webkit-scrollbar {
        width: 0;
    }

    .video .banner_action {
        display: block;
    }

    .history_item {
        max-width: 100%;
    }

    .team_item-photo {
        max-width: 260px;
    }
}
/* 481px - 900px */
@media screen and (max-width: 900px) {
    .banner_title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .banner_description {
        font-size: 15px;
    }
    .banner_right {
        width: 100%;
    }
    .banner_right img {
        max-width: 335px;
    }
    .banner_action-text {
        font-family: "Sansation Bold", sans-serif;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .weCanResult .container {
        padding: 0 35px 110px;
    }
    .weCan_title {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .weCan_item {
        padding: 16px 0;
        gap: 18px;
        align-items: start;
    }
    .weCan_item-number {
        font-size: 15px;
    }
    .weCan_item-text {
        font-size: 15px;
    }
    .results_item-text {
        font-size: 15px;
    }
    .results_item {
        margin-bottom: 12px;
        align-items: start;
    }
    .results_item-number svg {
        width: 16px;
        height: 16px;
        margin-top: 3px;
    }
    .clients .container {
        padding: 0 35px 99px;
    }
    .clients_title {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .tariff .container {
        padding: 0 35px 110px;
    }
    .tariff_item {
        padding: 31px 20px 31px 25px;
        min-height: fit-content;
        width: 100%;
    }
    .tariff_title {
        font-family: "Sansation Regular", sans-serif;
        font-size: 30px;
        line-height: 120%;
        text-transform: uppercase;
        color: #2b2b2b;
        margin-bottom: 44px;
    }
    .tariff_item-title {
        font-size: 20px;
        margin-bottom: 17px;
    }
    .tariff_item-title span {
        font-size: 20px;
    }
    .tariff_item-price-text {
        font-size: 12px;
        margin-bottom: 0;
    }
    .tariff_item-price {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .tariff_item-included-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .tariff_item-included-items {
        font-size: 14px;
    }

    .services .container {
        padding: 0 35px 110px;
    }
    .services_title {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .services_items {
        margin-bottom: 55px;
    }
    .services_item {
        padding: 25px 20px;
    }
    .services_item-header {
        flex-direction: column;
        align-items: start;
        gap: 10px;
        margin-bottom: 10px;
    }
    .services_item-title {
        font-size: 20px;
        text-transform: none;
    }
    .services_item-price {
        font-size: 16px;
    }
    .services_item-text {
        font-size: 16px;
    }
    .services .banner_action {
        justify-content: start;
    }

    .target .container {
        padding: 0 35px 165px;
    }
    .target_title {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .target .slick-slide img {
        max-width: 245px;
    }

    #services_btn {
        display: flex;
        align-items: center;
        gap: 7px;
        background: none;
        border: none;
    }
    #services_btn span {
        font-family: "Sansation Regular", sans-serif;
        font-size: 16px;
        text-decoration: underline;
        color: #000;
    }
    #services_btn.none {
        display: none;
    }
    .services_items-right.none {
        display: none;
    }

    .instScreen .container {
        padding: 0 35px 110px;
    }
    .instScreen_title {
        font-size: 26px;
        margin-bottom: 40px;
        max-width: 320px;
    }
    .instScreen_item {
        max-width: 255px;
    }
    .instScreen .banner_action {
        justify-content: start;
    }

    .reels .container {
        padding: 0 35px 110px;
    }
    .reels_title {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .reels_item-title {
        font-size: 18px;
        margin-bottom: 13px;
    }
    .reels_item-one {
        width: 165px;
        min-width: 165px;
        height: 294px;
    }
    .reels_item-one iframe {
        width: 100% !important;
        height: 100% !important;
    }
    .reels_all {
        gap: 0 10px;
    }
    .reels_item {
        margin-top: 40px;
    }
    #reels_btn, #reels_btn-hide {
        margin-top: 20px;
    }

    .video .container {
        padding: 0 35px 110px;
    }
    .video_title {
        font-size: 26px;
        margin-bottom: 40px;
        max-width: 340px;
    }
    .video_items {
        flex-wrap: nowrap;
        justify-content: start;
        margin-bottom: 30px;
        overflow-x: scroll;
    }
    .video_items::-webkit-scrollbar {
        width: 0;
    }
    .video_item {
        width: 286px;
        min-width: 286px;
    }
    .video_item img {
        width: 100%;
    }
    #video_btn {
        display: flex;
        margin-bottom: 45px;
    }
    .video_items.open {
        flex-direction: column;
        align-items: center;
    }
    .video_items.open  .video_item {
        width: 100%;
        max-width: 360px;
    }
    #video_btn.none {
        display: none;
    }
    #video_btn-hide.open {
        display: flex;
        margin-bottom: 45px;
    }

    .development .container {
        padding: 0 35px 110px;
    }
    .development_title {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .development_item {
        width: 202px;
        min-width: 202px;
    }
    .development_items {
        gap: 20px;
    }
    .development_items.mobile {
        justify-content: center;
    }
    .development_items.mobile .development_item {
        width: 170px;
        min-width: 170px;
    }

    .branding .container {
        padding: 0 35px 135px;
    }
    .branding_title {
        font-size: 26px;
        max-width: 360px;
        margin-bottom: 40px;
    }
    .branding_item img {
        height: 252px;
    }

    .grugany .container {
        padding: 0 35px 110px;
    }
    .grugany_title {
        font-family: "Sansation Regular", sans-serif;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .portfolio .container {
        padding: 0 35px 110px;
    }
    .portfolio_title {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .portfolio_item-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .portfolio-text {
        font-size: 15px;
        margin-bottom: 15px;
        max-width: 100%;
    }
    .portfolio_item-info {
        width: 100%;
    }
    .portfolio_item {
        gap: 40px;
        padding: 50px 0;
    }
    .portfolio_item-image {
        width: 100%;
        min-width: 100%;
        gap: 20px 10px;
    }
    .portfolio_item-image div {
        max-width: 173px;
    }
    .banner_action.portfolio_item-action {
        display: block;
    }
    #portfolio_btn {
        display: flex;
    }
    #portfolio_btn.none {
        display: none;
    }

    .reviews .container {
        padding: 0 35px 110px;
    }
    .reviews_title {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .reviews_item {
        padding: 34px 30px;
        height: 430px;
        box-sizing: border-box;
        /*margin: 0 7px 0px 1px;*/
    }
    .reviews_item-name {
        font-size: 20px;
    }
    .reviews_item-own {
        font-size: 14px;
        margin-bottom: 19px;
    }
    .reviews_item_bg {
        height: 100%;
    }
    .reviews_item-text {
        font-size: 15px;
        max-width: 100%;
    }
    .reviews .arrow-next {
        right: 0;
    }
    .reviews .arrow-prev {
        left: 0;
    }
    .reviews .banner_action {
        display: block;
    }

    .aboutUs .container {
        padding: 0 35px 110px;
    }
    .aboutUs_title {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .aboutUs_description {
        font-size: 15px;
    }
    .aboutUs_description span{
        font-weight: 500;
    }
    .aboutUs_item-number {
        font-size: 13px;
    }
    .aboutUs_item-title {
        font-size: 18px;
        margin-bottom: 13px;
    }
    .aboutUs_item-text {
        font-size: 15px;
        max-width: 100%;
    }

    .steps .container {
        padding: 0 35px 110px;
    }
    .steps_title {
        font-size: 26px;
        margin-bottom: 45px;
    }
    .steps_item-number {
        font-size: 13px;
    }
    .steps_item-title {
        font-size: 18px;
    }
    .steps_item-text {
        font-size: 15px;
        max-width: 100%;
    }

    .difference .container {
        padding: 0 35px 110px;
    }
    .difference_title {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .difference_item {
        padding: 16px 0;
    }
    .difference_items-number {
        font-size: 15px;
    }
    .difference_items-text {
        font-size: 15px;
    }

    .history .container {
        padding: 0 35px 110px;
    }
    .history_title {
        font-size: 26px;
        margin-bottom: 45px;
    }
    .history_items {
        gap: 40px;
    }
    .history_item-date {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .history_item-text {
        font-size: 15px;
    }

    .team .container {
        padding: 0 35px 110px;
    }
    .team_title {
        font-size: 26px;
        margin-bottom: 45px;
    }
    .team_items {
        gap: 50px 10px;
    }
    .team_item-photo {
        max-width: 174px;
        margin-bottom: 11px;
    }
    .team_item-name {
        font-size: 18px;
        margin-bottom: 0;
    }
    .team_item-function {
        font-size: 13px;
    }

    .contacts .container {
        padding: 110px 35px;
    }
    .contacts_title {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .contacts_block {
        gap: 40px;
        flex-wrap: wrap;
    }
    .contacts_info a {
        font-size: 15px;
    }
    .contacts_ip {
        font-size: 15px;
    }
    .footer {
        display: none;
    }
    .footer-mob {
        display: block;
        background: #2b2b2b;
    }
    .footer-mob .container {
        padding: 40px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer_logo {
        max-width: 110px;
        margin-bottom: 62px;
    }
    .footer_logo img{
        width: 100%;
    }
    .footer__link {
        font-size: 15px;
    }
}
/* 430px - 480px */
@media screen and (max-width: 480px) {
    .grugany_items {
        display: none;
    }
    .grugany_items.mob {
        display: block;
    }
    .clients_items .desc {
        display: none;
    }
    .clients_items .only_mob {
        display: block;
    }
    .reviews_item {
        padding: 34px 30px;
        height: 100%;
        box-sizing: border-box;
        margin: 0 7px 0px 1px;
    }
    .tariff_title {
        max-width: 265px;
    }
}
/* 320px - 429px */
@media screen and (max-width: 429px) {
    .banner_title {
        font-size: 24px;
    }
    .banner_description {
        font-size: 13px;
    }

    .development_items.mobile {
        gap: 20px 15px;
    }
    .development_items.mobile .development_item {
        width: 150px;
        min-width: 150px;
    }

    .portfolio_item-image div {
        max-width: 155px;
    }

    .difference_title {
        font-size: 24px;
    }

    .team_item-photo {
        max-width: 155px;
    }
}